[submodule "skills/last30days"]
	path = skills/last30days
	url = https://github.com/chidev/last30days-skill.git
	branch = chore/v2-merge-prs-84-74-75
[submodule "skills/last30days-v3"]
	path = skills/last30days-v3
	url = https://github.com/chidev/last30days-skill.git
	branch = feature/v3-cluster-pipeline-rewrite
