[submodule "skills-db/engineering/real-time-backend-skill"]
	path = skills-db/engineering/real-time-backend-skill
	url = https://github.com/get-convex/real-time-backend-skill.git
[submodule "_repos/marketing/ai-marketing-skills"]
	path = _repos/marketing/ai-marketing-skills
	url = https://github.com/chidev/ai-marketing-skills.git
[submodule "_repos/video/higgsfield-ai"]
	path = _repos/video/higgsfield-ai
	url = https://github.com/higgsfield-ai/skills.git
